* {
	margin: 0;
	padding: 0;
}
html,
body{
	width: 100%;
	height: 100%;
}
.app {
	position: relative;
	width: 100%;
	min-height: 100%;
	box-sizing: border-box;
	font-size: 14px;
	color: #333;
}
a {
	color: #37b;
	text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
	line-height: 24px;
	margin: 10px 0 15px;
}
h1 {
	font-size: 28px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 20px;
}
p {
	line-height: 20px;
	margin: 0 0 10px;
}
pre {
	border: solid 1px #ddd;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 10px;
    line-height: 20px;
    color: #666;
    overflow: auto;
}
.header {
	background: #fff;
}
.nav {
	padding: 15px 20px;
	line-height: 30px;
	font-size: 14px;
	text-align: center;
}
.nav a {
	color: #666;
	margin-left: 15px;
	margin-right: 15px;
}
.nav a:hover {
	color: #888;
}
.nav a:active {
	color: #aaa;
}
.motto {
	background: #f6f6f6;
	height: 200px;
	text-align: center;
}
.avatar {
	width: 120px;
	height: 120px;
	margin: 20px;
	border: none;
	background: #fff;
	border-radius: 50%;
}
.main {
	max-width: 720px;
	margin: 20px auto 0;
	padding: 0 10px 30px;
}
.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.list {
	list-style: none;
}
.item {
	padding: 5px 0;
	line-height: 20px;
	margin-bottom: 5px; 
}
.article {
	padding: 10px 0;
	border-top: solid 1px #eee;
	border-bottom: solid 1px #eee;
}
.form-group {
	display: block;
	margin: 0 0 10px;
}
.input {
	display: inline-block;
	vertical-align: top;
	padding: 6px 8px;
	border-radius: 5px;
	border: solid 1px #ccc;
	outline: none;
	color: #333;
	transition: box-shadow 0.3s;
}
.input:focus {
	box-shadow: 0 0 2px 0 #3ce;
}
.input[readonly],
.input[disabled] {
	cursor: not-allowed;
	background: #f2f2f2;
}
.textarea {
	display: inline-block;
	vertical-align: top;
	height: 300px;
	padding: 6px 8px;
	border-radius: 5px;
	border: solid 1px #ccc;
	outline: none;
	color: #333;
	transition: box-shadow 0.3s;
}
.textarea:focus {
	box-shadow: 0 0 2px 0 #3ce;
}
.btn {
	display: inline-block;
	vertical-align: top;
	padding: 6px 12px;
	border-radius: 5px;
	border: solid 1px #ccc;
	background: #ddd;
	color: #333;
	text-align: center;
	cursor: pointer;
	outline: none;
}
.btn:hover {
	border-color: #bbb;
	background: #ccc;
}
.btn:active {
	border-color: #aaa;
	background: #bbb;
}
.block-level {
	display: block;
	width: 100%;
}
.label {
	display: inline-block;
	width: 20%;
	text-align: right;
	margin-right: 10px;
}
.title {
	font-weight: bold;
	font-size: 24px;
	line-height: 24px;
	margin: 10px 0 15px;
}
.time {
	float: right;
	font-size: 12px;
	margin-left: 10px;
}