.content {
	margin: 0 14px;
	overflow: hidden;
}
.magic {
	margin-top: 2px;
	margin-bottom: 2px;
	text-align: center;
}
.magic-block {
	display: inline-block;
	vertical-align: top;
	width: 120px;
	height: 120px;
	padding: 20px;
	border: 1px solid #ddd;
	margin: 24px;
	transform: rotate(45deg);
}
.magic-block img{
	width: 80px;
	height: 80px;
	transform: rotate(-45deg);
}